<!DOCTYPE html>
<html>
<head>
    <title>Study Game - Cadastro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Cadastro</h1>
        <form method="POST" action="/signup">
            <div class="form-group">
                <label for="username">Nome de Usuário:</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div